.bgProductCard {
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: block;
  border: 3px solid $bgColor6;
  border-radius: 5%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  width: 300px;
  height: 300px;
  margin: 15px;
  padding: 10px;
  box-shadow: 0 0 2px white;
  transition: background-color 2s, transform 0.3s, border 1.5s, box-shadow 0.7s;
}

.bgColorHover {
  cursor: pointer;
  background-color: $bgColor6;
  transition: all 0.3s;
  border: 3px solid $bgColor5;
  transform: scale(1.05);
  box-shadow: 4px 8px 8px $bgColor9;
}

.productCard {
  width: 100%;
  height: 100%;
  position: relative;

  .textProductCard {
    margin-top: 20px;
    padding-right: 10px;

    h1 {
      padding-bottom: 5px;
      border-bottom: 2px solid $bgColor5;
    }

    h2 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  img {
    height: auto;
    width: 300px;
    margin-bottom: 10px;
  }
}
