.productCard {
  border: 3px solid $bgColor6;
  width: 300px;
  height: 500px;
  margin: 15px;
  padding: 10px;

  .textProductCard {
    text-align: justify;
    margin-top: 10px;
    padding-right: 10px;

    h1 {
      padding-bottom: 5px;
      border-bottom: 2px solid $bgColor5;
    }

    h2 {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    p {
      line-height: 1.2rem;
      margin-top: 2px;
      margin-bottom: 5px;
    }
  }

  img {
    height: auto;
    width: 300px;
  }
}
