@media screen and (max-height: 500px) {
  #logoPicture {
    width: calc(30% - 10px);
    top: 45%;
  }
}

@media screen and (max-width: 1079px) {
  #logoPicture,
  #leafBottomLeftImg img,
  #leafTopRightImg img {
    max-width: 300px;
    height: auto;
  }

  #leafBottomLeftImg {
    bottom: 50px;
    left: 0;
  }
}
