.category,
main,
.textProductCard,
.arrayProductCard,
.menuUser,
.all-menu-navbar,
.search-bar,
// .navbar,
.menu-navbar,
.menu-navbar .a,
.logo {
  display: flex;
}

main,
.textProductCard {
  flex-direction: column;
}

.arrayProductCard,
.menu-navbar {
  flex-direction: row;
}

main {
  align-items: center;
}

.arrayProductCard {
  justify-content: space-around;
}

.menuUser,
.search-bar {
  justify-content: flex-end;
}

.menu-navbar {
  justify-content: space-between;
}

.arrayProductCard {
  align-content: baseline;
}

.navbar,
.search-bar,
.menu-navbar {
  align-items: center;
}

.arrayProductCard {
  flex-wrap: wrap;
}
