body {
    font-family: 'Farro','Courier New', Courier, monospace;
}

.btn-search,
.search-label,
.btn-navbar {
    font-weight: bold;
}

//      FONT SIZE      //

.search-label {
    font-size: 1.4rem;
}

.btn-navbar {
    font-size: 1rem;
}

.btn-search {
    font-size: 2rem;
}
