#bgLogo {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

.parallax {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#leafTopRight {
  background: url(../../../public/img/png/leafTopRight.png) no-repeat right top;
  background-attachment: fixed;
  right: 0;
  top: 0;
}

#logoPicture {
  background: url(../../../public/img/png/Une_parenthèse_pour_soi_logo_1500px.png)
    no-repeat center center;
  background-attachment: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#leafBottomLeft {
  background: url(../../../public/img/png/leafBottomLeft.png) no-repeat left
    bottom;
  background-attachment: fixed;
}

#leafBottomLeft,
#logoPicture,
#leafTopRight {
  background-size: 500px auto;
}
