// #bgLogo {
//   display: block;
//   min-width: 100vw;
//   min-height: 100vh;
//   position: relative;

//   // .leafBottomLeft,
//   // .leafTopRight,
//   // .logoPicture {
//   //   position: absolute;
//   //   width: 100%;
//   //   height: auto;
//   // }

//   // .leafBottomLeft,
//   // .leafTopRight {
//   //   width: 100%;
//   //   max-width: 100vh;
//   // }

//   // .leafTopRight {
//   //   z-index: 1;
//   //   top: 0;
//   //   right: 0;
//   // }

//   // .leafBottomLeft {
//   //   bottom: 0;
//   //   left: 0;
//   // }

//   #logoPicture {
//     z-index: 2;
//     width: auto;
//     height: 100%;
//     img {
//       bottom: 10%;
//       position: absolute;
//       padding: 20px 50px;
//     }
//   }
// }

#bgLogo {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
}

#leafBottomLeft {
  align-self: end;
  justify-self: start;
}

#leafTopRight {
  align-self: start;
  justify-self: end;
}

#logoPicture {
  align-self: center;
  justify-self: center;
}
