footer {
  background-color: $bgColor5;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  border: 1px solid black;
}
