@media screen and (min-width: 1110px) {
  .all-menu-navbar {
    right: 0;
    top: 0;
    bottom: 0;
  }

  .line {
    width: 2px;
    height: 40px;
    background: linear-gradient(to top, transparent, $bgColor6, transparent);
  }

  .burgerMenu {
    display: none;
  }
}
