.bgProductDetails {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid black;
    margin: 10px auto;
  }
}

.imgProduit {
  margin: 20px 100px 30px 50px;
  width: 300px;
  height: auto;
  background-position: center;
  background-size: 350px;
  // border: 1px solid black;
}

.titleTextProduct {
  width: 80rem;
  height: 100%;
  align-content: center;
  justify-content: center;

  h1 {
    color: $bgColor5;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
}
