.bgProductDetails {
  // height: 100%;
  margin-top: 125px;
  img {
    height: 100%;
    object-fit: cover;
  }
}

.imgProduit {
  margin: -60px 50px 30px 0;
  height: auto;
  background-position: center;
  background-size: 350px;
}

.titleTextProduct {
  height: 100%;
  margin-left: -50px;
  border-bottom-right-radius: 40px;
  position: relative;
  margin-right: 5rem;

  h1 {
    font-size: calc(3rem + 0.03vw);
    font-weight: 700;
  }

  h2 {
    margin: 0;
    padding-bottom: 10px;
  }
  h1,
  h2 {
    padding-left: 30px;
  }
}

.productTab {
  padding-left: 105px;
}

.bgParagraph {
  h3 {
    padding: 20px 0 0 100px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .productDescriptPresentFirst {
    padding-bottom: 15px;
  }

  .productDescriptPresentNext {
    padding-bottom: 15px;
  }

  .productDescriptPresentNext:first-child {
    padding-bottom: -50px;
    margin-top: 15px;
  }
}

.textParagraph {
  padding: 10px 80px 0 80px;
  line-height: 2.5rem;
}

.youWillLikeIt {
  margin-top: 25px;

  .youWillLikeIt-content {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 35px;
    height: 300px;
  }
}

.imgYouWillLikeIt {
  height: 300px;
  object-fit: cover;

  &:hover {
    cursor: pointer;
  }
}

.blockBubleInSummary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 50px;
  min-width: 80%;
  max-width: 1200px;
  margin-bottom: 25px;

  .bubleInSummary {
    z-index: -3;
    width: 400px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px 50px 10px;
    overflow: hidden;
    border-radius: 15px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    border-width: 2px;
    border-style: solid;
    box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.068);

    .textInSummary {
      margin-top: 20px;
      padding: 20px 25px 20px 15px;

      h5,
      h6 {
        padding-bottom: 10px;
      }

      li {
        padding-left: 15px;
        padding-bottom: 5px;
        margin-bottom: 15px;
      }
    }

    .bubleInSummary,
    .titleInSummary {
      text-align: center;
    }

    .titleInSummary {
      font-size: 1.5rem;
      font-weight: 700;
      padding: 30px 20px 20px 20px;
      text-transform: uppercase;
    }
  }

  .contentTitleInSummary {
    width: 100%;
    height: 150px;
  }

  .bgRadiantInSummary,
  .bgInSummary {
    position: absolute;
    z-index: -1;
  }

  .bgRadiantInSummary {
    width: 100%;
    height: 100%;
    bottom: 25px;
  }

  .bgInSummary {
    width: 440px;
    height: 150%;
    transform: rotate(-14deg) translate(20px, -30%);
    top: -50px;
    left: -50px;
  }
}
