@font-face {
  font-family: "Farro";
  src: url("../../../public/fonts/Farro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Farro";
  src: url("../../../public/fonts/Farro-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Farro";
  src: url("../../../public/fonts/Farro-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Farro";
  src: url("../../../public/fonts/Farro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "hyperspace";
  src: url("../../../public/fonts/hyperspace-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hyperspace";
  src: url("../../../public/fonts/hyperspace-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "hyperspace";
  src: url("../../../public/fonts/hyperspace-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
