// Color

$bgColor1: #f8fafa;
$bgColor2: #747474;
$bgColor3: #fff;

// Background

$bgColor4: #f2fdd6;
$bgColor5: #55a045;
$bgColor6: #b2d45a;
$bgColor7: white;

.bgWhite {
  background-color: $bgColor7;
  transform: translateZ(0);
}

//Shadow

$bgColor8: #b1d45a85;
$bgColor9: #b1d45a91;

//position

.positionFixed {
  position: fixed;
}

main,
.home,
#leafBottomLeft,
#leafTopRight,
#bgLogo,
.btn,
.bgProductCard {
  position: relative;
}

.all-menu-navbar,
#logoPicture,
.btn-navbar:before,
#leafTopRightImg,
#leafBottomLeftImg {
  position: absolute;
}

.navbar {
  position: sticky;
}

// Padding

.padding-left {
  padding-left: 300px;
}

.lineBottom {
  background: linear-gradient(to right, transparent, $bgColor5, transparent);
  width: 100%;
  height: 3px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.progressBar {
  z-index: 1000;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: $bgColor5;
  transform-origin: 0%;
}
