// Fonts

// Color

$bgColor1: #f8fafa;
$bgColor2: #747474;
$bgColor3: #fff;

// Background

$bgColor4: #f2fdd6;
$bgColor5: #55a045;
$bgColor6: #b2d45a;
$bgColor7: white;

.bgWhite {
  background-color: $bgColor7;
  transform: translateZ(0);
}

//Shadow

$bgColor8: #b1d45a85;
$bgColor9: #b1d45a91;

//position

.positionFixed {
  position: fixed;
}
