//header

// .bgLogo,
// #logoPicture,
.textProductCard,
.arrayProductCard,
.menuUser,
.all-menu-navbar,
.search-bar,
.navbar,
.menu-navbar,
.menu-navbar .a,
.logo {
  display: flex;
}

.textProductCard {
  flex-direction: column;
}

// .bgLogo,
.arrayProductCard,
.navbar,
.menu-navbar {
  flex-direction: row;
}

// #logoPicture {
//   justify-content: center;
// }

.arrayProductCard,
.navbar {
  justify-content: space-around;
}

.menuUser,
.search-bar {
  justify-content: flex-end;
}

.menu-navbar {
  justify-content: space-between;
}

// #logoPicture,
.navbar,
.search-bar,
.menu-navbar {
  align-items: center;
}

// .bgLogo {
//   flex-wrap: nowrap;
// }

.arrayProductCard {
  flex-wrap: wrap;
}
