footer {
  background-color: $bgColor10;

  &::before {
    content: "";
    position: absolute;
    top: -140px;
    background-color: white;
    height: 330px;
    width: 330px;
    border-radius: 0 0 50% 50%;
  }
  .logoPictureFooter {
    top: -115px;
    z-index: 5;
  }

  .footerContainer {
    height: 100%;
    margin: 0 20px;
  }

  .socialNetwork {
    height: 35px;
    border-radius: 5px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

    margin: 0 5px;
    background-color: white;
    z-index: 2;
    border: 3px solid $bgColor6;
    transition: all 0.2s ease-in-out;
    transform: scale(1);

    &:hover {
      cursor: pointer;
      border: 3px solid $bgColor5;
      box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.212);
      transform: scale(1.2);
    }

    svg {
      margin: auto;
      width: 25px;
      height: 25px;
      fill: $bgColor10;
    }
  }

  .legal {
    color: white;
    font-size: 15px;

    .legalArticle {
      p {
        font-size: 12px;
        margin: 15px 0;
        padding: 5px 10px 5px 10px;
      }
    }
  }

  .contact {
    font-size: 20px;
    color: white;
  }

  .contact,
  .legalArticle p {
    &:before {
      content: "";
      bottom: -5px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: white;
      transition: all 0.2s;
      transform: translateX(-50%);
    }

    &:hover:before {
      width: 80%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1199px) {
  footer {
    height: 500px;

    .footerContainer {
      max-height: 300px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .containerLegal,
  .legal {
    height: 100%;
  }

  footer {
    height: 350px;
  }
}
