.allNavBar {
  height: 100%;
}

#iconMenu {
  display: none;
  top: 25px;
  left: 30px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  z-index: 1000;
}

.navbar {
  z-index: 100;
  background-color: $bgColor7;

  .menu-navbar {
    li {
      margin: 0 2px 0 10px;
    }
  }
}

//--------- MEDIA QUERIES --------//

@media screen and (max-width: 1199px) {
  .navbar {
    left: -100%;
    transition: all 0.3s ease-in-out;
  }

  .category {
    flex-direction: column;
  }

  .subCategory {
    z-index: 10;
    padding-bottom: 30px;
    min-height: 100vh;
    min-width: 100vw;
    // background-color: $bgColor7;
  }

  .navbar {
    height: 100vh;
    width: 100%;
    max-width: 800px;
  }

  .logo {
    height: 150px;
    width: 150px;
  }

  #iconMenu {
    display: block;
  }

  #iconMenu:before {
    content: "\2630";
  }

  .activeMenu #iconMenu:before {
    content: "\2715";
  }

  .activeMenu {
    left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .arrayProductCard {
    min-height: calc(100vh - 125px);
  }

  .category {
    position: relative;
    height: 50px;
  }

  .line {
    height: 40px;
    background: linear-gradient(to top, transparent, $bgColor6, transparent);
  }

  .navbar {
    display: grid;
    grid-template:
      "b a a" 1fr
      "b c c" 1fr / 1fr 2fr;
    height: 100px;
    width: 100%;

    img {
      height: 80px;
    }

    .menu-navbar {
      li {
        margin: 0 2px 0 10px;
      }
    }
  }
}
