.category {
  padding: 15px 20px 0 20px;
  position: relative;
  // margin: 0 auto;
}

.subCategory {
  display: inline-block;
  z-index: 1;
  background-color: $bgColor7;

  li {
    padding: calc(10px + 1vmin) calc(15px + 1vmin);
  }

  h1 {
    text-align: center;
    padding-bottom: 20px;
  }
}
