@media screen and (min-height: 501px) {
  #logoPicture {
    width: calc(50% - 10px);
  }

  #logoPicture,
  #leafBottomLeftImg img,
  #leafTopRightImg img {
    max-width: 800px;
    height: auto;
  }
}
