@media screen and (max-height: 500px) {
  #logoPicture {
    width: calc(30% - 10px);
  }

  #logoPicture,
  #leafBottomLeftImg img,
  #leafTopRightImg img {
    max-width: 300px;
    height: auto;
  }
}

// @media screen and (max-width: 1079px) {
//   .navbar {
//     position: sticky;
//     top: 0;
//   }
// }
