.all-menu-navbar,
.allNavBar,
.arrayProductCard,
.bgParagraph,
.bgProductDetails,
.blocTitleImg,
.category,
.contactContainer,
footer,
.globalLegalContainer,
.imgProduit,
.legal,
.legalContainer,
.legalTitle,
.logo,
main,
.menu-navbar,
.menu-navbar .a,
.menuUser,
.navBar,
.productDescriptPresentFirst,
.productTab,
.search-bar,
.socialNetWorkContainer,
.textProductCard,
.titleTextProduct h1,
.youWillLikeIt,
.youWillLikeIt-content {
  display: flex;
}

//------ FLEX-DIRECTION --------//

.bgParagraph,
.contactContainer,
.globalLegalContainer,
.legal,
.legalContainer,
main,
.navBar,
.youWillLikeIt,
.textProductCard {
  flex-direction: column;
}

.arrayProductCard,
.bgProductDetails,
.blocTitleImg,
footer,
.productTab,
.socialNetwork,
.socialNetWorkContainer,
.youWillLikeIt-content,
.menu-navbar {
  flex-direction: row;
}

//------ JUSTIFY-CONTENT --------//

.arrayProductCard,
footer,
.legal {
  justify-content: space-around;
}

.menuUser,
.search-bar,
.socialNetWorkContainer {
  justify-content: flex-end;
}

.allNavBar,
.logo {
  justify-content: flex-start;
}

.bgProductDetails,
.menu-navbar {
  justify-content: space-between;
}

.globalLegalContainer,
.legalContainer,
.legalTitle,
.youWillLikeIt {
  justify-content: center;
}

//------ ALIGN-CONTENT --------//

.arrayProductCard {
  align-content: baseline;
}

//------ ALIGN-ITEMS --------//

.bgProductDetails,
.blocTitleImg,
footer,
.globalLegalContainer,
.legalContainer,
.legalTitle,
main,
.navbar,
.productDescriptPresentFirst,
.search-bar,
.youWillLikeIt-content,
.menu-navbar {
  align-items: center;
}

.contactContainer,
.logo {
  align-items: flex-start;
}

//------ FLEX --------//

.arrayProductCard {
  flex-wrap: wrap;
}

.productDescriptPresentFirst {
  flex-grow: 1;
}

@media screen and (min-width: 1200px) {
  .all-menu-navbar {
    flex-direction: column;
    align-items: flex-end;
  }
}
