


main,
.productDescriptPresentFirst,
.youWillLikeIt-content,
.youWillLikeIt,
.imgProduit,
.category,
.textProductCard,
.arrayProductCard,
.menuUser,
.all-menu-navbar,
.search-bar,
.menu-navbar,
.menu-navbar .a,
.bgProductDetails,
.titleTextProduct h1,
.logo {
  display: flex;
}

//------ FLEX-DIRECTION --------//

main,
.youWillLikeIt-content,
.textProductCard {
  flex-direction: column;
}

.bgProductDetails,
.arrayProductCard,
.menu-navbar {
  flex-direction: row;
}


//------ JUSTIFY-CONTENT --------//

.arrayProductCard {
  justify-content: space-around;
}

.menuUser,
.search-bar {
  justify-content: flex-end;
}

.bgProductDetails,
.menu-navbar {
  justify-content: space-between;
}

//------ ALIGN-CONTENT --------//

.arrayProductCard {
  align-content: baseline;
}

//------ ALIGN-ITEMS --------//

main,
.productDescriptPresentFirst,
.youWillLikeIt-content,
.bgProductDetails,
.navbar,
.search-bar,
.menu-navbar {
  align-items: center;
}

.youWillLikeIt {
  align-items: space-around;
}

//------ FLEX --------//

.arrayProductCard {
  flex-wrap: wrap;
}


.youWillLikeIt {
  flex-flow: row wrap;
}

.productDescriptPresentFirst {
  flex-grow: 1;
}