#root {
  font-family: "Farro", sans-serif;
}

.titleTextProduct h2,
.subCategory,
.productCard h1,
.productCard h2,
.btn-search,
.search-label,
.btn-navbar {
  font-weight: bold;
}

#root {
  font-weight: lighter;
  font-size: 0.8rem;
}

//      FONT SIZE      //

.subCategory h1,
.productCard h1,
.search-label {
  font-size: 1.1rem;
}

.textInSummary,
.textProductCard p {
  font-size: 0.9rem;
}

.subCategory,
.btn-navbar {
  font-size: 1rem;
}

.titleInSummary,
.titleTextProduct h2,
.btn-search {
  font-size: 2rem;
}

.bgParagraph h3 {
  font-size: 1.5rem;
}

.textParagraph {
  font-size: 1.1rem;
}
