//          MARGIN-LEFT           //

.logo {
  margin-left: 20px;
}
//          MARGIN-RIGHT           //

.all-menu-navbar,
.allNavBar {
  margin-right: 20px;
}

//          MARGIN-TOP           //

.footer,
.legal,
.socialNetwork {
  margin-top: 20px;
}

//         MARGIN-BOTTOM           //

.legalTitle {
  margin-bottom: 20px;
}
