//        PADDING-BOTTOM            //

.globalLegalContainer p,
.subCategory h1,
.subLegalTitle {
  padding-bottom: 20px;
}

//        PADDING-LEFT            //
//        PADDING-RIGHT            //
//        PADDING-TOP            //

.navBar {
  padding-top: 10px;
}

//        PADDING            //

.category {
  padding: 15px 20px 0 20px;
}

.LegalTitle {
  padding: 70px 0 70px 0;
}
