// ------ WIDTH ------ //

.allNavBar,
.bgProductDetails img,
.globalLegalContainer,
.globalLegalContainer ul,
footer,
#leafBottomLeft,
#leafTopRight,
.legalContainer,
.legalTitle,
.lineBottom,
.logoPictureFooter img,
.navbar,
.productCard,
.productTab,
.search-bar,
.search-label:focus,
.subLegalTitle,
.textProductCard,
.youWillLikeIt {
  width: 100%;
}

.bgProductDetails,
.bgProductDetails img,
.imgYouWillLikeIt,
.navbar img {
  width: auto;
}

.line {
  width: 2px;
}

.search-label {
  width: 15px;
}

.logoPictureFooter {
  width: 250px;
}

.bgProductCard {
  width: 300px;
}

.titleTextProduct {
  width: 800px;
}

.imgProduit {
  width: 1000px;
}

.blocTitleImg {
  width: 80vw;
}

#leaf {
  width: 100vw;
}

#logoPicture {
  width: calc(40% - 10px);
}

#leafBottomLeftImg img,
#leafTopRightImg img {
  width: calc(100% - 10px);
}

// ------ MAX-WIDTH ------ //

.arrayProductCard {
  max-width: 1100px;
}

.bgParagraph {
  max-width: 1800px;
}

.youWillLikeIt-content {
  max-width: 80%;
}

.bgProductDetails img,
.legalContainer {
  max-width: 800px;
}

.globalLegalContainer ul {
  max-width: 600px;
}
